<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Puskesmas Cempae - Melayani dengan Cinta dan Profesionalisme untuk Kesehatan Keluarga">
  <link rel="icon" href="./logo/lg-kota-parepare.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
  <title>Puskesmas Cempae</title>
</head>
<body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <img class="logo" src="./logo/lg_puskesmas.png" alt="logo-puskesmas">
        <p>Puskesmas Cempae</p>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/beranda">Beranda</a></li>
          <li><a href="#/fasilitas">Fasilitas</a></li>
          <li><a href="#/kegiatan">Kegiatan</a></li>
          <li><a href="#/tentang-kami">Tentang Kami</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="single-box">
              <h4>Alamat Puskesmas Cempae</h4>
              <p style="padding-right:16px">Jl. Petta Oddo No. 3, Kel. Watang Soreang, Kec. Soreang, Kota Parepare, Sulawesi Selatan. </p>
              </br>
              <p>Kode Pos : 91132</p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-box">
              <h4>Navigasi</h4>
              <ul>
                <li><a href="#/beranda">Beranda</a></li>
                <li><a href="#/fasilitas">Fasilitas</a></li>
                <li><a href="#/kegiatan">Kegiatan</a></li>
                <li><a href="#/tentang-kami">Tentang Kami</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-box">
              <h4>Kontak Kami</h4>
              <ul>
                <li><a href="https://www.instagram.com/puskesmas.cempae/">Instagram</a></li>
                <li><a href="https://www.youtube.com/@puskesmascempae6440">Youtube</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100083027656149&mibextid=9R9pXO">Facebook</a></li>
                <li><a href="https://wa.me/6285656419510">WhatsApp</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-box">
              <h4>Didukung oleh</h4>
              <div class="support-list">
                  <img src="./logo/lg-kota-parepare.png" alt="Logo PAREPARE">
                  <img src="./logo/lg-unhas.png" alt="Logo UNHAS">
                  <img src="./logo/lg-watangsoreang.png" alt="Logo KKNT-WATANGSOREANG">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="footer-copyright">
        <p>© 2023 - KKNT UNHAS GEL. 110 WATANG SOREANG</p>
      </div>
    </footer>
  </body>
</html>